.line-items-highlight {
  animation: line-items-highlight 2s ease-out;
}

@keyframes line-items-highlight {
  0% {
    background-color: #fef08a;
    /* yellow */
  }

  100% {
    background-color: transparent;
  }
}
